


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
.Category--item{ 
  background-color:#f96d01!important ;
  background-image: url("https://liberzy.com/images/affiliate/people_cheers1.svg");  
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 300px;
  background-position: 0 80px;
  border-radius: 5px;
}

.Header-background { 
  background-image: url("https://liberzy.com/images/homepage/home-splash-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 200px !important;
  background-size: 100% 100%;
  height: auto;
}
.Title-landing{
  font-family: 'Josefin Sans', sans-serif;
}

.Review-content {
  height:300px;
  background-color: #329cff;
  background-image: url("https://liberzy.com/images/affiliate/bg_write_review.svg");
  background-repeat: no-repeat;
  background-size: cover;
}